#photo {
  width: 213px;
  height: 213px;
  border: 2px solid #bb99dd;
}

#borderLinks {
  width: 50%;
  border: #bb99dd solid;
}

#socialLinks {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #bb99dd;
}
